extends layout

block content
  h1 ランキング
  include menu
  table(class="table table-striped")
    tr
      th 順位
      th ニックネーム
      th 勝ち点
      th 勝ち
      th 負け
      th あいこ
    for user, index in list
      tr
        td #{index + 1}
        td: a(href="/users/" + user.user_name) #{user.nickname}
        td #{user.point}
        td #{user.wins}
        td #{user.losses}
        td #{user.draws}
