extends layout

block content
  h1 プロフィール
  include menu
  h2= user_obj.user_name
  p 登録時間: #{user_obj.signup_date}
  p 勝ち: #{user_obj.wins}
  p 負け: #{user_obj.losses}
  p 引き分け: #{user_obj.draws}
  div
    h3 対戦履歴
    ul(class="list-group")
      each match in matches
        li(class="list-group-item") あなた: #{match.player_hand_str} ロボット: #{match.robot_hand_str} #{match.date}
